.charts {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.shadow{
  border: 1px solid #cfcfcf80;
  box-shadow: 5px 5px #dbdbdb;
  border-radius: 10px;
}

.charts_chart{
  margin-right: 10px;
  margin-bottom: 10px;
}

.charts_chart--cards{
  box-sizing: border-box;
  border: none;
}

.charts_card{ 
  width: 20%;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}
.charts_card > p{
  font-size: xx-large;
  font-weight: 700;
}
.charts_card > p > span{
  font-size: medium;
  font-weight: 100;
}

.charts_chart--single{
  margin-top: 20px;;
  
}

.charts_chart--double{
  margin-right: 40px;
}

@media (max-width:600px)  {
  .charts_chart--double{
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
