.charts-container {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.charts-container_chart{
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #8f971b;
}
.charts-container_chart--single{
  width: 32%;
  
}

.charts-container_chart--double{
  width: 64%;
}
.charts-container_chart--center{
  padding-top: 67px;
}
