.card-billing{
    padding:10px;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.card-billing_button-container{
    width: calc(100% - 15px);
    justify-content: flex-end;
}

.card-billing_label{    
    color: white;
    background: #8f971b;
    margin: 0
}+
.card-billing_address,
.card-billing_name,
.card-billing_additional-info{
    margin: 5px 0 40px;
}

.card-billing_value--center{
    font-size: 65px;
    text-align: center;
    margin: 0 0 40px;
    width: calc(100% - 10px);
}

.card-billing_additional-info{
    width: calc(100% - 25px);
}
