.card-billing{
    width: 100%;
    padding:0 0 10px 10px;
    background-color: #EBEBEB;
}

.card-billing_button-container{
    width: calc(100% - 15px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-billing_label{
    opacity: 60%;
    margin: 0
}
.card-billing_address,
.card-billing_name,
.card-billing_additional-info{
    margin: 5px 0 40px;
}

.card-billing_value--center{
    font-size: 90px;
    text-align: center;
    margin: 0 0 40px;
    width: calc(100% - 10px);
}

.card-billing_additional-info{
    width: calc(100% - 25px);
}

.card-billing_send{
    border-radius: 5px;
    cursor: pointer;
}

.card-billing-send_icon{
    width: 21px;
    height: 21px;
    margin-right: 5px;
    opacity: 60%;
}