.goal{
	justify-content: center;
}

.goal_container{
	width: 50%;
}

.goal_title--center{
	text-align: center;
}

.goal_form{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border:#d1d1d1 3px solid ;
	border-radius: 10px;
}