.card-product {
    box-sizing: border-box;
    width: 23.5%;
    border-radius: 10px;
    border: 2px solid #c2c2c2;
    overflow: hidden;
    margin: 5px 0px 5px 10px;
    padding: 5px;
}

.card-product_code{
    margin-top: 0px;
    top: 10px;
    z-index: 5;
    left: 5px;
    font-size: 10px;
    color: white;
    background: #8f971b;
    padding: 2px 6px;
    border-radius: 0 4px 4px 0;
}

.card-product_button-container {
    justify-content: space-between;
    margin-top: 20px;
}

.card-product_image--height {
    height: 185px;
}

p {
    margin-top: 0;
}

.product-price{
    margin-top: 10px;
}
