.card-product{
    box-sizing: border-box;
    width: 24%;
    border-radius: 10px;
    border: 1px;
    overflow: hidden;
    margin: 5px 0px 5px 10px;
    padding: 5px;
    background-color: #EBEBEB;
}

.card-product_code{
    margin-top: 0px;
}

.card-product_button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-product_button--center{
    margin-right: 10%;
}