.shopping-container{
    margin-top: 5px;
}

.shopping-container_product-container{
    flex-wrap: wrap;
    width: 70%;
    
}

.shopping-container_billing{
    width: 30%;
    box-sizing: border-box;
}