.order-card{
    box-sizing: border-box;
    padding: 0px 0px 5px 5px;
    border:#a0d1ff 2px solid ;
    border-radius: 10px;
    margin-bottom: 10px;
}


.order-card_header{
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
}

.order-card_header--no-margin > h2,h4{
    margin: 0;
}

.order-card_label--blue{
    color: #1890ff;
}

.order-card_detail{
    justify-content: space-between;
}

.order-card_info{
    width: 33.3333%;
    box-sizing: border-box;
    padding: 10px;
}
.order-card_info--right{
    justify-content: flex-end;
    align-items: flex-end;
}

.order-card_icon{
    width: 21px;
    height: 21px;
    bottom: 0;
}
