.movements{
    justify-content: center;
}

.movements_container{
    width: 50%;
}

.movements_form{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border:#d1d1d1 3px solid ;
    border-radius: 10px;
}

.movements_title--center{
    text-align: center;
}


.movements_image--header{
    justify-content: center;
    overflow: hidden;
}
.movements_image--header>img{
    width: 50%;
    border-radius: 10px;
}