.manage-orders{
    margin-top: 5px;
}

.manage-orders_menu{
    width: 19%;
    margin-right: 10px;
    min-height: calc(100vh - 55px);
    background-color: #EBEBEB;
}

.manage-orders_view{
    width: 80%;
}

.order-list{
    height: calc(100vh - 60px);
    overflow: scroll;
}
.order-list::-webkit-scrollbar {
    width: 12px;
  }
  .order-list::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #fff8ea;  /* creates padding around scroll thumb */
  }