@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&&display=swap');

body {
  margin: 0;
  /* font-family: Lato, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3e3e3;
}

h1, h2, h3, h4, h5, h6{

}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.mt-10{
  margin-top: 10px;
}

.mr-10{
  margin-right: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.display-flex-row{
  display: flex;
  flex-direction: row;
}

.text-center{
  text-align: center;
}

.image--br-5{
  border-radius: 5px;
}

.container_button {
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button.container_button > img {
  width: 21px;
  height: 21px;
  margin-right: 5px;
  opacity: 60%;
}
